/*alterando comportamento em telas de no máximo 700px de largura. a nav bar, aqui, vai ser jogada pra baixo do "Netflix" por estar se comportando como coluna.*/

@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }
  .btn {
    margin-top: 5px;
    width: 300px;
  }
  .modal-content {
    width: 90%;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

/*alterando comportamento em telas de no minimo 1000px de largura, o p sinopse terá apenas 50% de largura do tamanho total da tela.*/

@media screen and (min-width: 1000px) {
  .sinopse {
    width: 50%;
  }
}
